In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('/content/medical_insurance.csv')

In [3]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

## Q.1) Avg charges of southwest and northwest people medical insorance

In [7]:
charges_avg_df=data.loc[(data['region']=='southeast') | (data['region']=='northwest')]
print('Avg charges of southwest and northwest people medical insorance ',charges_avg_df['charges'].mean())

Avg charges of southwest and northwest people medical insorance  13642.092539666186

## 2) make catagories of age like kid, teenage, adult, 
old 0 to 15 = kids

15 to 30 = teen

30 to 50 = adult

50 to 100 = old

In [21]:
#medical_data['age_catagory']=''
data['age_catagory']=''

for i in range (len(data)):
  checker=data.iloc[i,0]
  if checker <= 15:
    data.iloc[i,-1]='kid'

  elif (15 < checker <= 30):
    data.iloc[i,-1]='teen'

  elif (30 < checker <= 50):
    data.iloc[i,-1]='adult'

  elif (50 < checker <= 100):
    data.iloc[i,-1]='old'

print(data)

      age     sex     bmi  children smoker     region      charges  \
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

     age_catagory
0            teen
1            teen
2            teen
3           adult
4           adult
...           ...
1333        adult
1334         teen
1335         teen
1336         teen
1337          old

[1338 rows x 8 columns]

## Q. 3) show male and female avg. as per catagories

In [22]:
#female
# 1) kid
test3=data.loc[(data['age_catagory']=='kid') & (data['sex']=='female')]
print('for kid as female charges are:',test3.charges.mean())


# 2) teen
test3=data.loc[(data['age_catagory']=='teen') & (data['sex']=='female')]
print('for teen as female charges are:',test3.charges.mean())

# 2) adult
test3=data.loc[(data['age_catagory']=='adult') & (data['sex']=='female')]
print('for adult as female charges are:',test3.charges.mean())

# 2) old
test3=data.loc[(data['age_catagory']=='old') & (data['sex']=='female')]
print('for old as female charges are:',test3.charges.mean())

for kid as female charges are: nan
for teen as female charges are: 8624.223084294394
for adult as female charges are: 12411.913281460675
for old as female charges are: 17466.83209077348

In [23]:
#male
# 1) kid
test3=data.loc[(data['age_catagory']=='kid') & (data['sex']=='male')]
print('for kid as male charges are:',test3.charges.mean())


# 2) teen
test3=data.loc[(data['age_catagory']=='teen') & (data['sex']=='male')]
print('for teen as male charges are:',test3.charges.mean())

# 2) adult
test3=data.loc[(data['age_catagory']=='adult') & (data['sex']=='male')]
print('for adult as male charges are:',test3.charges.mean())

# 2) old
test3=data.loc[(data['age_catagory']=='old') & (data['sex']=='male')]
print('for old as male charges are:',test3.charges.mean())

for kid as male charges are: nan
for teen as male charges are: 10117.084220956522
for adult as male charges are: 14136.81026708487
for old as male charges are: 18724.33624537143

## Q 4) show male and female count by catagories

In [28]:
male=data.loc[(data['sex']=='male')]
print('#Male count as per age catagories:\n',male.age_catagory.value_counts())



female=data.loc[(data['sex']=='female')]
print('\n#female count as per age catagories:\n',female.age_catagory.value_counts())

#Male count as per age catagories:
 adult    271
teen     230
old      175
Name: age_catagory, dtype: int64

#female count as per age catagories:
 adult    267
teen     214
old      181
Name: age_catagory, dtype: int64

## Q 5) show adult and old age peoples bmi of smokers only

In [35]:
test5=data.loc[((data['age_catagory']=='adult') | (data['age_catagory']=='adult')) & (data['smoker']=='yes')]
print(test5.to_string())

print('BMI of adult and old catagory people, who are smokers only:\n',test5['bmi'].to_string())

      age     sex     bmi  children smoker     region      charges age_catagory
23     34  female  31.920         1    yes  northeast  37701.87680        adult
29     31    male  36.300         2    yes  southwest  38711.00000        adult
38     35    male  36.670         1    yes  northeast  39774.27630        adult
49     36    male  35.200         1    yes  southeast  38709.17600        adult
52     48    male  28.000         1    yes  southwest  23568.27200        adult
53     36    male  34.430         0    yes  southeast  37742.57570        adult
84     37  female  34.800         2    yes  southwest  39836.51900        adult
85     45    male  22.895         2    yes  northwest  21098.55405        adult
99     38    male  19.300         0    yes  southwest  15820.69900        adult
123    44    male  31.350         1    yes  northeast  39556.49450        adult
128    32  female  17.765         2    yes  northwest  32734.18630        adult
142    34    male  25.300         2    yes  southeast  18972.49500        adult
146    46    male  30.495         3    yes  northwest  40720.55105        adult
153    42  female  23.370         0    yes  northeast  19964.74630        adult
156    48    male  24.420         0    yes  southeast  21223.67580        adult
160    42  female  26.600         0    yes  northwest  21348.70600        adult
185    36    male  41.895         3    yes  northeast  43753.33705        adult
207    35    male  27.740         2    yes  northeast  20984.09360        adult
224    42    male  24.640         0    yes  southeast  19515.54160        adult
235    40  female  22.220         2    yes  southeast  19444.26580        adult
254    50    male  31.825         0    yes  northeast  41097.16175        adult
265    46    male  42.350         3    yes  southeast  46151.12450        adult
266    40    male  19.800         1    yes  southeast  17179.52200        adult
271    50    male  34.200         2    yes  southwest  42856.83800        adult
280    40  female  28.120         1    yes  northeast  22331.56680        adult
297    47    male  25.410         1    yes  southeast  21978.67690        adult
298    31    male  34.390         3    yes  northwest  38746.35510        adult
312    43    male  35.970         3    yes  southeast  42124.51530        adult
322    34    male  30.800         0    yes  southwest  35491.64000        adult
327    45    male  36.480         2    yes  northwest  42760.50220        adult
338    50    male  32.300         1    yes  northeast  41919.09700        adult
376    39  female  24.890         3    yes  northeast  21659.93010        adult
411    44  female  20.235         1    yes  northeast  19594.80965        adult
417    36  female  22.600         2    yes  southwest  18608.26200        adult
422    40    male  32.775         1    yes  northeast  39125.33225        adult
441    33  female  33.500         0    yes  southwest  37079.37200        adult
461    42    male  30.000         0    yes  southwest  22144.03200        adult
488    44  female  38.060         0    yes  southeast  48885.13561        adult
514    39    male  28.300         1    yes  southwest  21082.16000        adult
524    42    male  26.070         1    yes  southeast  38245.59327        adult
545    49    male  25.840         2    yes  northwest  23807.24060        adult
549    43  female  46.200         0    yes  southeast  45863.20500        adult
558    35  female  34.105         3    yes  northwest  39983.42595        adult
569    48    male  40.565         2    yes  northwest  45702.02235        adult
577    31  female  38.095         1    yes  northeast  58571.07448        adult
587    34  female  30.210         1    yes  northwest  43943.87610        adult
615    47  female  36.630         1    yes  southeast  42969.85270        adult
617    49    male  25.600         2    yes  southwest  23306.54700        adult
621    37    male  34.100         4    yes  southwest  40182.24600        adult
629    44  female  38.950         0    yes  northwest  42983.45850        adult
638    39    male  26.410         0    yes  northeast  20149.32290        adult
641    42    male  28.310         3    yes  northwest  32787.45859        adult
665    43    male  38.060         2    yes  southeast  42560.43040        adult
667    40  female  32.775         2    yes  northwest  40003.33225        adult
674    44  female  43.890         2    yes  southeast  46200.98510        adult
682    39    male  35.300         2    yes  southwest  40103.89000        adult
697    41    male  35.750         1    yes  southeast  40273.64550        adult
730    35    male  24.420         3    yes  southeast  19361.99880        adult
736    37  female  38.390         0    yes  southeast  40419.01910        adult
750    37  female  26.400         0    yes  southeast  19539.24300        adult
757    47  female  27.830         0    yes  southeast  23065.42070        adult
762    33    male  27.100         1    yes  southwest  19040.87600        adult
783    50  female  27.600         1    yes  southwest  24520.26400        adult
799    33    male  24.795         0    yes  northeast  17904.52705        adult
818    47  female  26.125         1    yes  northeast  23401.30575        adult
819    33  female  35.530         0    yes  northwest  55135.40209        adult
827    36    male  28.025         1    yes  northeast  20773.62775        adult
828    41    male  30.780         3    yes  northeast  39597.40720        adult
850    37  female  30.780         0    yes  northeast  37270.15120        adult
852    46  female  35.530         0    yes  northeast  42111.66470        adult
854    49  female  23.845         3    yes  northeast  24106.91255        adult
856    48  female  33.110         0    yes  southeast  40974.16490        adult
860    37  female  47.600         2    yes  southwest  46113.51100        adult
885    32    male  28.930         1    yes  southeast  19719.69470        adult
893    47    male  38.940         2    yes  southeast  44202.65360        adult
896    43  female  20.045         2    yes  northeast  19798.05455        adult
909    32  female  24.600         0    yes  southwest  17496.30600        adult
916    43  female  26.885         0    yes  northwest  21774.32215        adult
917    45    male  22.895         0    yes  northeast  35069.37452        adult
947    37    male  34.200         1    yes  northeast  39047.28500        adult
953    44    male  30.200         2    yes  southwest  38998.54600        adult
954    34    male  27.835         1    yes  northwest  20009.63365        adult
958    43    male  34.960         1    yes  northeast  41034.22140        adult
982    31    male  25.900         3    yes  southwest  19199.94400        adult
1007   47    male  28.215         3    yes  northwest  24915.22085        adult
1011   43    male  20.130         2    yes  southeast  18767.73770        adult
1022   47    male  36.080         1    yes  southeast  42211.13820        adult
1030   46  female  23.655         1    yes  northwest  21677.28345        adult
1037   45  female  30.495         1    yes  northwest  39725.51805        adult
1040   35  female  28.025         0    yes  northwest  20234.85475        adult
1045   43  female  24.700         2    yes  northwest  21880.82000        adult
1049   49    male  30.900         0    yes  southwest  39727.61400        adult
1053   47    male  29.800         3    yes  southwest  25309.48900        adult
1070   37    male  37.070         1    yes  southeast  39871.70430        adult
1085   39  female  18.300         5    yes  southwest  19023.26000        adult
1090   47    male  36.190         0    yes  southeast  41676.08110        adult
1100   33  female  19.095         2    yes  northeast  16776.30405        adult
1111   38    male  38.390         3    yes  southeast  41949.24410        adult
1112   48  female  25.850         3    yes  southeast  24180.93350        adult
1118   33    male  35.750         1    yes  southeast  38282.74950        adult
1152   43  female  32.560         3    yes  southeast  40941.28540        adult
1171   43  female  26.700         2    yes  southwest  22478.60000        adult
1179   31    male  29.810         0    yes  southeast  19350.36890        adult
1188   43  female  25.270         1    yes  northeast  21771.34230        adult
1207   36    male  33.400         2    yes  southwest  38415.47400        adult
1208   37  female  25.555         1    yes  northeast  20296.86345        adult
1218   46  female  34.600         1    yes  southwest  41661.60200        adult
1249   32    male  33.630         1    yes  northeast  37607.52770        adult
1278   39    male  29.925         1    yes  northeast  22462.04375        adult
1281   47  female  27.645         2    yes  northwest  24535.69855        adult
1300   45    male  30.360         0    yes  southeast  62592.87309        adult
1303   43    male  27.800         0    yes  southwest  37829.72420        adult
1304   42    male  24.605         2    yes  northeast  21259.37795        adult
1307   32    male  28.120         4    yes  northwest  21472.47880        adult
1323   42  female  40.370         2    yes  southeast  43896.37630        adult
BMI of adult and old catagory people, who are smokers only:
 23      31.920
29      36.300
38      36.670
49      35.200
52      28.000
53      34.430
84      34.800
85      22.895
99      19.300
123     31.350
128     17.765
142     25.300
146     30.495
153     23.370
156     24.420
160     26.600
185     41.895
207     27.740
224     24.640
235     22.220
254     31.825
265     42.350
266     19.800
271     34.200
280     28.120
297     25.410
298     34.390
312     35.970
322     30.800
327     36.480
338     32.300
376     24.890
411     20.235
417     22.600
422     32.775
441     33.500
461     30.000
488     38.060
514     28.300
524     26.070
545     25.840
549     46.200
558     34.105
569     40.565
577     38.095
587     30.210
615     36.630
617     25.600
621     34.100
629     38.950
638     26.410
641     28.310
665     38.060
667     32.775
674     43.890
682     35.300
697     35.750
730     24.420
736     38.390
750     26.400
757     27.830
762     27.100
783     27.600
799     24.795
818     26.125
819     35.530
827     28.025
828     30.780
850     30.780
852     35.530
854     23.845
856     33.110
860     47.600
885     28.930
893     38.940
896     20.045
909     24.600
916     26.885
917     22.895
947     34.200
953     30.200
954     27.835
958     34.960
982     25.900
1007    28.215
1011    20.130
1022    36.080
1030    23.655
1037    30.495
1040    28.025
1045    24.700
1049    30.900
1053    29.800
1070    37.070
1085    18.300
1090    36.190
1100    19.095
1111    38.390
1112    25.850
1118    35.750
1152    32.560
1171    26.700
1179    29.810
1188    25.270
1207    33.400
1208    25.555
1218    34.600
1249    33.630
1278    29.925
1281    27.645
1300    30.360
1303    27.800
1304    24.605
1307    28.120
1323    40.370

## Q 6) Show people whose charges less than 20000 those are doing smoking daily

In [34]:
test6=data.loc[(data['charges']<20000) & (data['smoker']=='yes')]
print(test6.to_string())

      age     sex     bmi  children smoker     region      charges age_catagory
0      19  female  27.900         0    yes  southwest  16884.92400         teen
64     20  female  22.420         0    yes  northwest  14711.74380         teen
69     28    male  23.980         3    yes  southeast  17663.14420         teen
70     27  female  24.750         0    yes  southeast  16577.77950         teen
99     38    male  19.300         0    yes  southwest  15820.69900        adult
105    20    male  28.025         1    yes  northwest  17560.37975         teen
117    29  female  27.940         1    yes  southeast  19107.77960         teen
126    19  female  28.300         0    yes  southwest  17081.08000         teen
142    34    male  25.300         2    yes  southeast  18972.49500        adult
153    42  female  23.370         0    yes  northeast  19964.74630        adult
157    18    male  25.175         0    yes  northeast  15518.18025         teen
224    42    male  24.640         0    yes  southeast  19515.54160        adult
235    40  female  22.220         2    yes  southeast  19444.26580        adult
238    19    male  29.070         0    yes  northwest  17352.68030         teen
250    18    male  17.290         2    yes  northeast  12829.45510         teen
261    20  female  26.840         1    yes  southeast  17085.26760         teen
266    40    male  19.800         1    yes  southeast  17179.52200        adult
296    19    male  27.700         0    yes  southwest  16297.84600         teen
362    19  female  21.700         0    yes  southwest  13844.50600         teen
375    23  female  28.310         0    yes  northwest  18033.96790         teen
380    27  female  17.955         2    yes  northeast  15006.57945         teen
411    44  female  20.235         1    yes  northeast  19594.80965        adult
412    26  female  17.195         2    yes  northeast  14455.64405         teen
417    36  female  22.600         2    yes  southwest  18608.26200        adult
465    30  female  28.380         1    yes  southeast  19521.96820         teen
494    21    male  25.700         4    yes  southwest  17942.10600         teen
593    21  female  21.850         1    yes  northeast  15359.10450         teen
604    19  female  28.310         0    yes  northwest  17468.98390         teen
727    29  female  21.755         1    yes  northeast  16657.71745         teen
730    35    male  24.420         3    yes  southeast  19361.99880        adult
741    27    male  29.150         0    yes  southeast  18246.49550         teen
750    37  female  26.400         0    yes  southeast  19539.24300        adult
762    33    male  27.100         1    yes  southwest  19040.87600        adult
773    19  female  28.880         0    yes  northwest  17748.50620         teen
780    30    male  24.400         3    yes  southwest  18259.21600         teen
795    27    male  28.500         0    yes  northwest  18310.74200         teen
799    33    male  24.795         0    yes  northeast  17904.52705        adult
857    25    male  24.130         0    yes  northwest  15817.98570         teen
885    32    male  28.930         1    yes  southeast  19719.69470        adult
896    43  female  20.045         2    yes  northeast  19798.05455        adult
909    32  female  24.600         0    yes  southwest  17496.30600        adult
949    25    male  29.700         3    yes  southwest  19933.45800         teen
975    29    male  22.895         0    yes  northeast  16138.76205         teen
982    31    male  25.900         3    yes  southwest  19199.94400        adult
989    24  female  20.520         0    yes  northeast  14571.89080         teen
994    27  female  20.045         3    yes  northwest  16420.49455         teen
1000   30    male  22.990         2    yes  northwest  17361.76610         teen
1011   43    male  20.130         2    yes  southeast  18767.73770        adult
1026   19    male  26.030         1    yes  northwest  16450.89470         teen
1033   18    male  21.565         0    yes  northeast  13747.87235         teen
1085   39  female  18.300         5    yes  southwest  19023.26000        adult
1100   33  female  19.095         2    yes  northeast  16776.30405        adult
1170   18    male  27.360         1    yes  northeast  17178.68240         teen
1179   31    male  29.810         0    yes  southeast  19350.36890        adult
1184   23  female  28.490         1    yes  southeast  18328.23810         teen
1204   18  female  27.280         3    yes  southeast  18223.45120         teen
1250   24    male  29.830         0    yes  northeast  18648.42170         teen
1252   20    male  27.300         0    yes  southwest  16232.84700         teen
1274   26    male  27.060         0    yes  southeast  17043.34140         teen
1282   18  female  21.660         0    yes  northeast  14283.45940         teen
1306   29  female  21.850         0    yes  northeast  16115.30450         teen
1314   30  female  23.655         3    yes  northwest  18765.87545         teen