In [1]:
!pip install pandas

!pip install lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (4.9.2)

In [2]:

import pandas as pd

##############
scraper=pd.read_html('https://greenpanvel.com/')
print(scraper)

[    Sr No Ward No  Ward's Trees Count
0       1       1              100478
1       2       2               93587
2       3       3              112389
3       4       4               27510
4       5       5               84263
5       6       6               33314
6       7       7               11987
7       8       8                4151
8       9       9               41757
9      10      10                4002
10     11      11               11128
11     12      12                3637
12     13      13               13724
13     14      14               24367
14     15      15                8952
15     16      16               11841
16     17      17               18508
17     18      18                8455
18     19      19                8694
19     20      20               30008
20  Total   Total              652752,     Sr No Ward No  Ward's Area(Sq. Km)  Canopy(Sq. Km) Percentage
0       1       1                26.98         0.26422     0.97 %
1       2       2                16.11         0.25988     1.61 %
2       3       3                18.32         0.33031     1.80 %
3       4       4                 1.89         0.09792     5.18 %
4       5       5                 5.43         0.27297     5.02 %
5       6       6                 3.52         0.11630     3.30 %
6       7       7                 5.72         0.06023     1.05 %
7       8       8                 0.57         0.01123     1.97 %
8       9       9                10.00         0.14134     1.41 %
9      10      10                 0.52         0.01042        2 %
10     11      11                 1.31         0.06646     5.07 %
11     12      12                 0.75         0.02608     3.47 %
12     13      13                 4.73         0.09199     1.94 %
13     14      14                 5.04         0.13337     2.64 %
14     15      15                 0.80         0.08355    10.44 %
15     16      16                 0.88         0.12343    14.02 %
16     17      17                 1.37         0.14398    10.50 %
17     18      18                 1.48         0.09809     6.62 %
18     19      19                 1.22         0.03010     2.46 %
19     20      20                 3.15         0.15800     5.01 %
20  Total   Total               109.79         2.51988     2.30 %,     Sr No Ward No  Heritage Trees Count
0       1       1                   150
1       2       2                   117
2       3       3                   186
3       4       4                    61
4       5       5                   231
5       6       6                    21
6       7       7                    37
7       8       8                    19
8       9       9                    72
9      10      10                    37
10     11      11                    45
11     12      12                    10
12     13      13                    32
13     14      14                    25
14     15      15                    55
15     16      16                    25
16     17      17                   241
17     18      18                   101
18     19      19                   117
19     20      20                   167
20  Total   Total                  1749,     Sr No Ward No Heritage Trees Percentage
0       1       1                    8.57 %
1       2       2                    6.68 %
2       3       3                   10.63 %
3       4       4                    3.48 %
4       5       5                   13.20 %
5       6       6                    1.20 %
6       7       7                    2.11 %
7       8       8                    1.08 %
8       9       9                    4.11 %
9      10      10                    2.11 %
10     11      11                    2.57 %
11     12      12                    0.57 %
12     13      13                    1.82 %
13     14      14                    1.42 %
14     15      15                    3.14 %
15     16      16                    1.42 %
16     17      17                   13.77 %
17     18      18                    5.77 %
18     19      19                    6.68 %
19     20      20                    9.54 %
20  Total   Total                     100 %,     Sr No Ward No  Trees Canopy (Sq. Ft.)
0       1       1                 2844063
1       2       2                 2797355
2       3       3                 3555376
3       4       4                 1054047
4       5       5                 2938235
5       6       6                 1251836
6       7       7                  648293
7       8       8                  120927
8       9       9                 1521304
9      10      10                  112183
10     11      11                  715340
11     12      12                  280719
12     13      13                  990222
13     14      14                 1435538
14     15      15                  899322
15     16      16                 1328628
16     17      17                 1549791
17     18      18                 1055797
18     19      19                  323986
19     20      20                 1700698
20  Total   Total                27123660,     Sr No Ward No Trees Canopy (Sq. Ft.)
0       1       1                10.48 %
1       2       2                10.31 %
2       3       3                13.10 %
3       4       4                 3.88 %
4       5       5                10.83 %
5       6       6                 4.61 %
6       7       7                 2.39 %
7       8       8                 0.44 %
8       9       9                 5.60 %
9      10      10                 0.41 %
10     11      11                 2.63 %
11     12      12                 1.03 %
12     13      13                 3.65 %
13     14      14                 5.29 %
14     15      15                 3.31 %
15     16      16                 4.89 %
16     17      17                 5.71 %
17     18      18                 3.89 %
18     19      19                 1.19 %
19     20      20                 6.27 %
20  Total   Total                  100 %,    Sr No Land Ownership  Trees Count
0      1     Open Space       232641
1      2     Government       199247
2      3        Private       125947
3      4       Footpath        33396
4      5     Industrial        18733
5      6         Garden        17013
6      7        On Road        16218
7      8        Divider         8936
8      9         Forest          621
9  Total          Total       652752,    Sr No Land Ownership Trees Count
0      1     Open Space     35.64 %
1      2     Government     30.52 %
2      3        Private     19.29 %
3      4       Footpath      5.11 %
4      5     Industrial      2.86 %
5      6         Garden      2.60 %
6      7        On Road      2.48 %
7      8        Divider      1.36 %
8      9         Forest      0.09 %
9  Total          Total     99.99 %,    Sr No      Trees Health  Trees Count
0      1           Healthy       641073
1      2  Mechanically Cut         7922
2      3           Average         2893
3      4         Dangerous          321
4      5              Dead          288
5      6              Poor          178
6      7          Diseased           43
7      8          Uprooted           34
8  Total             Total       652752,    Sr No      Trees Health Trees Count
0      1           Healthy     98.21 %
1      2  Mechanically Cut      1.21 %
2      3           Average      0.44 %
3      4         Dangerous      0.04 %
4      5              Dead      0.04 %
5      6              Poor      0.02 %
6      7          Diseased         0 %
7      8          Uprooted         0 %
8  Total             Total       100 %,     Sr No Economical Importance  Trees Count
0       1            Ornamental       193106
1       2           Timber Wood       163689
2       3                 Fruit       156985
3       4             Medicinal        98611
4       5              Firewood        23958
5       6             Vegetable        11110
6       7             Essential         3170
7       8                Avenue         1022
8       9         Essential Oil          657
9      10        Paper Industry          203
10     11                 Spice          194
11     12            Ecological           39
12     13             Aesthetic            5
13     14            Economical            1
14     15                Fodder            1
15  Total                 Total       652751,     Sr No Economical Importance Trees Count
0       1            Ornamental     29.58 %
1       2           Timber Wood     25.07 %
2       3                 Fruit     24.04 %
3       4             Medicinal     15.10 %
4       5              Firewood      3.67 %
5       6             Vegetable      1.70 %
6       7             Essential      0.48 %
7       8                Avenue      0.15 %
8       9         Essential Oil      0.10 %
9      10        Paper Industry      0.03 %
10     11                 Spice      0.02 %
11     12            Ecological         0 %
12     13             Aesthetic         0 %
13     14            Economical         0 %
14     15                Fodder         0 %
15  Total                 Total       100 %]

In [3]:
data=scraper[0]
data

    Sr No Ward No  Ward's Trees Count
0       1       1              100478
1       2       2               93587
2       3       3              112389
3       4       4               27510
4       5       5               84263
5       6       6               33314
6       7       7               11987
7       8       8                4151
8       9       9               41757
9      10      10                4002
10     11      11               11128
11     12      12                3637
12     13      13               13724
13     14      14               24367
14     15      15                8952
15     16      16               11841
16     17      17               18508
17     18      18                8455
18     19      19                8694
19     20      20               30008
20  Total   Total              652752

In [4]:
data1=scraper[1]
data1

    Sr No Ward No  Ward's Area(Sq. Km)  Canopy(Sq. Km) Percentage
0       1       1                26.98         0.26422     0.97 %
1       2       2                16.11         0.25988     1.61 %
2       3       3                18.32         0.33031     1.80 %
3       4       4                 1.89         0.09792     5.18 %
4       5       5                 5.43         0.27297     5.02 %
5       6       6                 3.52         0.11630     3.30 %
6       7       7                 5.72         0.06023     1.05 %
7       8       8                 0.57         0.01123     1.97 %
8       9       9                10.00         0.14134     1.41 %
9      10      10                 0.52         0.01042        2 %
10     11      11                 1.31         0.06646     5.07 %
11     12      12                 0.75         0.02608     3.47 %
12     13      13                 4.73         0.09199     1.94 %
13     14      14                 5.04         0.13337     2.64 %
14     15      15                 0.80         0.08355    10.44 %
15     16      16                 0.88         0.12343    14.02 %
16     17      17                 1.37         0.14398    10.50 %
17     18      18                 1.48         0.09809     6.62 %
18     19      19                 1.22         0.03010     2.46 %
19     20      20                 3.15         0.15800     5.01 %
20  Total   Total               109.79         2.51988     2.30 %

In [5]:
data2=scraper[2]
data2

    Sr No Ward No  Heritage Trees Count
0       1       1                   150
1       2       2                   117
2       3       3                   186
3       4       4                    61
4       5       5                   231
5       6       6                    21
6       7       7                    37
7       8       8                    19
8       9       9                    72
9      10      10                    37
10     11      11                    45
11     12      12                    10
12     13      13                    32
13     14      14                    25
14     15      15                    55
15     16      16                    25
16     17      17                   241
17     18      18                   101
18     19      19                   117
19     20      20                   167
20  Total   Total                  1749

In [6]:
data3=scraper[3]
data3

    Sr No Ward No Heritage Trees Percentage
0       1       1                    8.57 %
1       2       2                    6.68 %
2       3       3                   10.63 %
3       4       4                    3.48 %
4       5       5                   13.20 %
5       6       6                    1.20 %
6       7       7                    2.11 %
7       8       8                    1.08 %
8       9       9                    4.11 %
9      10      10                    2.11 %
10     11      11                    2.57 %
11     12      12                    0.57 %
12     13      13                    1.82 %
13     14      14                    1.42 %
14     15      15                    3.14 %
15     16      16                    1.42 %
16     17      17                   13.77 %
17     18      18                    5.77 %
18     19      19                    6.68 %
19     20      20                    9.54 %
20  Total   Total                     100 %